In [1]:
import pandas as pd

In [2]:
car_data=pd.read_csv('./cardekho_dataset.csv',index_col=0)

In [3]:
car_data['Idx']=range(1,len(car_data)+1)
car_data=car_data[['Idx']+list(car_data.columns)[:-1]]

In [4]:
car_data.head()

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,1,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,2,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,3,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,4,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,5,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [5]:
import configuration
# Python caches imported modules, and so it would not pick up the changes in file. 
# This is a Python feature, and is independent of Enthought Canopy.
# Hence manually reolading the module is necessary or else you'll have to keep on manually restarting the cluster.
import importlib
importlib.reload(configuration)
from configuration import GlobalCounter as gc

gc_obj=gc()

In [7]:
if int(gc_obj.current_global_counter_val)+int(gc_obj.records_in_a_batch)>len(car_data):
    gc_obj.reset_global_counter_val()
print("Current value of Global Counter is {}".format(gc_obj.current_global_counter_val))
batch_of_data = gc_obj.fetch_records(car_data)
print("Incrementing Global counter value by {}".format(gc_obj.records_in_a_batch))
gc_obj.set_global_counter_val()
print("Commiting config data changes.")
gc_obj.write_config_data()

Current value of Global Counter is 15
Incrementing Global counter value by 5
Commiting config data changes.

In [9]:
batch_of_data

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
19,16,Mercedes-Benz C-Class,Mercedes-Benz,C-Class,7,65000,Dealer,Diesel,Automatic,19.27,2143,170.00,5,1425000
20,17,Maruti Swift,Maruti,Swift,7,62200,Dealer,Diesel,Manual,28.40,1248,74.00,5,425000
21,18,Toyota Innova,Toyota,Innova,8,110000,Individual,Diesel,Manual,12.99,2494,100.60,8,605000
22,19,Maruti Baleno,Maruti,Baleno,6,20000,Individual,Petrol,Manual,21.40,1197,83.10,5,600000
23,20,Maruti Swift Dzire,Maruti,Swift Dzire,5,40000,Individual,Petrol,Manual,20.85,1197,83.14,5,575000

## Global Counter initial code

In [ ]:
from configparser import ConfigParser 

configure = ConfigParser()
configure.read('config.ini')
print(configure.get('Counter_Variable','processed_row_count'))

#cnt=configure.get('Counter_Variable','processed_row_count')
cnt=configure['Counter_Variable']['processed_row_count']
tmp_data=car_data.iloc[list(range(int(cnt),int(cnt)+5))]

#configure.set('Counter_Variable','processed_row_count',)

configure['Counter_Variable']['processed_row_count']=str(int(cnt)+5)

with open('config.ini', 'w') as configfile:
    configure.write(configfile)

10

In [7]:
import pymysql
from configparser import ConfigParser

db_conf = ConfigParser()
db_conf.read('db_config.ini')

['db_config.ini']

In [5]:
import socket
socket.getaddrinfo('kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com',3306)

[(<AddressFamily.AF_INET: 2>, 0, 0, '', ('13.202.120.236', 3306))]

In [6]:
#import pymysql


conn_endpoint = "kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com"
username = 'admin'
password = 'hJqafMy9NcwpDrTTk3t4'
port = 3306
database = 'kafka-db'

'''conn = pymysql.connect( 
        host=conn_endpoint, 
        user=username,  
        password = password, 
        port=port
        ) 

cursor = conn.cursor()
'''

cnx = pymysql.connect(host=conn_endpoint,user=username, password=password,port=port)

cursor = cnx.cursor()
cnx.close()

In [10]:
conn_endpoint = db_conf['Db_config']['conn_endpoint']
username = db_conf['Db_config']['Username']
password = db_conf['Db_config']['Password']
#port=db_conf['Db_config']['Port']
database = db_conf['Db_config']['Database']

print(endpoint)
print(username)
print(password)
#print(port)
print(database)

cnx = pymysql.connect(host=conn_endpoint,user=username, password=password,port=3306)

cursor = cnx.cursor()

'kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com'
'admin'
'hJqafMy9NcwpDrTTk3t4'
'kafka-db'

OperationalError: (2003, 'Can\'t connect to MySQL server on "\'kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com\'" ([Errno 11001] getaddrinfo failed)')

In [13]:
cursor.execute('show databases;')
output=cursor.fetchall()
#cursor.close()

In [14]:
print(output)

(('information_schema',), ('kafka_test',), ('mysql',), ('performance_schema',), ('sys',))

In [16]:
from dbutils import Dbutils

db = Dbutils()
db.db_connect()
#db.create_table('cardekho_sales_dtl')

Exception (2003, 'Can\'t connect to MySQL server on "\'kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com\'" ([Errno 11001] getaddrinfo failed)') occured while trying to establish connection.