In [1]:
import pandas as pd

In [2]:
car_data=pd.read_csv('./cardekho_dataset.csv',index_col=0)

In [3]:
car_data['Idx']=range(1,len(car_data)+1)
car_data=car_data[['Idx']+list(car_data.columns)[:-1]]

In [4]:
car_data.head()

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,1,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,2,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,3,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,4,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,5,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [34]:
import configuration
# Python caches imported modules, and so it would not pick up the changes in file. 
# This is a Python feature, and is independent of Enthought Canopy.
# Hence manually reolading the module is necessary or else you'll have to keep on manually restarting the cluster.
import importlib
importlib.reload(configuration)
from configuration import GlobalCounter as gc

gc_obj=gc()

In [35]:
if int(gc_obj.current_global_counter_val)+int(gc_obj.records_in_a_batch)>len(car_data):
    gc_obj.reset_global_counter_val()
print("Current value of Global Counter is {}".format(gc_obj.current_global_counter_val))
batch_of_data = gc_obj.fetch_records(car_data)
print("Incrementing Global counter value by {}".format(gc_obj.records_in_a_batch))
gc_obj.set_global_counter_val()
print("Commiting config data changes.")
gc_obj.write_config_data()

Current value of Global Counter is 5
Incrementing Global counter value by 5
Commiting config data changes.

In [36]:
batch_of_data

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
5,6,Maruti Wagon R,Maruti,Wagon R,8,35000,Individual,Petrol,Manual,18.90,998,67.10,5,350000
6,7,Hyundai i10,Hyundai,i10,8,40000,Dealer,Petrol,Manual,20.36,1197,78.90,5,315000
7,8,Maruti Wagon R,Maruti,Wagon R,3,17512,Dealer,Petrol,Manual,20.51,998,67.04,5,410000
8,9,Hyundai Venue,Hyundai,Venue,2,20000,Individual,Petrol,Automatic,18.15,998,118.35,5,1050000
12,10,Maruti Swift,Maruti,Swift,4,28321,Dealer,Petrol,Manual,16.60,1197,85.00,5,511000

## Global Counter initial code

In [ ]:
from configparser import ConfigParser 

configure = ConfigParser()
configure.read('config.ini')
print(configure.get('Counter_Variable','processed_row_count'))

#cnt=configure.get('Counter_Variable','processed_row_count')
cnt=configure['Counter_Variable']['processed_row_count']
tmp_data=car_data.iloc[list(range(int(cnt),int(cnt)+5))]

#configure.set('Counter_Variable','processed_row_count',)

configure['Counter_Variable']['processed_row_count']=str(int(cnt)+5)

with open('config.ini', 'w') as configfile:
    configure.write(configfile)

10

In [33]:
import pymysql
from configparser import ConfigParser

db_conf = ConfigParser()
db_conf.read('db_config.ini')

['db_config.ini']

In [34]:
import socket
socket.getaddrinfo('kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com',3306)

[(<AddressFamily.AF_INET: 2>, 0, 0, '', ('13.202.120.236', 3306))]

In [ ]:
endpoint = db_conf['Db_config']['conn_endpoint']
username = db_conf['Db_config']['Username']
password = db_conf['Db_config']['Password']
port=17472
#db_conf['Db_config']['Port']
database = db_conf['Db_config']['database']

print(endpoint)
print(username)
print(password)
print(port)
print(database)

cnx = pymysql.connect(host=endpoint,user=username, password=password,port=int(port),database=database)

cursor = cnx.cursor()

'kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com'
'admin'
'hJqafMy9NcwpDrTTk3t4'
17472
'kafka-db'

OperationalError: (2003, "Can't connect to MySQL server on '13.202.120.236' (timed out)")

In [23]:
cursor.execute('show databases;')
cursor.fetchall()
cursor.close()

NameError: name 'cursor' is not defined

In [1]:
from dbutils import Dbutils

db = Dbutils()
db.create_table('cardekho_sales_dtl')

Exception (2003, 'Can\'t connect to MySQL server on "\'kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com\'" ([Errno 11001] getaddrinfo failed)') occured while trying to establish connection.
query is :
create table cardekho_sales_dtl (
	Idx integer,
	Car_name varchar(50),
	Brand varchar(50),
	Model varchar(50),
	Vehicle_age integer,
	Km_driven integer,
	Seller_type varchar(20),
	Fuel_type varchar(20),
	Transmission_te varchar(20),
	Mileage float,
	Engine integer,
	Max_power float,
	Seats integer,
	Selling_price integer,
	Record_ld_dt Timestamp Not Null default CURRENT_TIMESTAMP
);