In [15]:
import pandas as pd

In [16]:
car_data=pd.read_csv('./cardekho_dataset.csv',index_col=0)

In [17]:
car_data['Idx']=range(1,len(car_data)+1)
car_data=car_data[['Idx']+list(car_data.columns)[:-1]]

In [18]:
car_data.head()

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,1,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,2,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,3,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,4,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,5,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [19]:
import configuration
# Python caches imported modules, and so it would not pick up the changes in file. 
# This is a Python feature, and is independent of Enthought Canopy.
# Hence manually reolading the module is necessary or else you'll have to keep on manually restarting the cluster.
import importlib
importlib.reload(configuration)
from configuration import GlobalCounter as gc

gc_obj=gc()

In [7]:
if int(gc_obj.current_global_counter_val)+int(gc_obj.records_in_a_batch)>len(car_data):
    gc_obj.reset_global_counter_val()
print("Current value of Global Counter is {}".format(gc_obj.current_global_counter_val))
batch_of_data = gc_obj.fetch_records(car_data)
print("Incrementing Global counter value by {}".format(gc_obj.records_in_a_batch))
gc_obj.set_global_counter_val()
print("Commiting config data changes.")
gc_obj.write_config_data()

Current value of Global Counter is 15
Incrementing Global counter value by 5
Commiting config data changes.

In [20]:
batch_of_data

,Idx,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
4943,3881,Kia Seltos,Kia,Seltos,2,5000,Individual,Diesel,Manual,20.80,1493,113.40,5,1549000
4945,3882,Maruti Swift Dzire,Maruti,Swift Dzire,3,21500,Individual,Petrol,Manual,21.21,1197,81.80,5,650000
4946,3883,Maruti Alto,Maruti,Alto,9,55294,Individual,Petrol,Manual,20.92,998,67.10,5,251000
4947,3884,Maruti Swift Dzire,Maruti,Swift Dzire,3,10000,Individual,Diesel,Manual,28.40,1248,74.02,5,800000
4948,3885,Maruti Swift,Maruti,Swift,8,20000,Individual,Petrol,Manual,18.60,1197,85.80,5,350000

## Global Counter initial code

In [ ]:
from configparser import ConfigParser 

configure = ConfigParser()
configure.read('config.ini')
print(configure.get('Counter_Variable','processed_row_count'))

#cnt=configure.get('Counter_Variable','processed_row_count')
cnt=configure['Counter_Variable']['processed_row_count']
tmp_data=car_data.iloc[list(range(int(cnt),int(cnt)+5))]

#configure.set('Counter_Variable','processed_row_count',)

configure['Counter_Variable']['processed_row_count']=str(int(cnt)+5)

with open('config.ini', 'w') as configfile:
    configure.write(configfile)

10

In [25]:
import pymysql
from configparser import ConfigParser

db_conf = ConfigParser()
db_conf.read('db_config.ini')

['db_config.ini']

In [5]:
import socket
socket.getaddrinfo('kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com',3306)

[(<AddressFamily.AF_INET: 2>, 0, 0, '', ('13.202.120.236', 3306))]

In [22]:
#import pymysql


conn_endpoint = "kafka-db.cpoay2as0rsq.ap-south-1.rds.amazonaws.com"
username = 'admin'
password = 'hJqafMy9NcwpDrTTk3t4'
port = 3306
database = 'kafka-db'

'''conn = pymysql.connect( 
        host=conn_endpoint, 
        user=username,  
        password = password, 
        port=port
        ) 

cursor = conn.cursor()
'''

cnx = pymysql.connect(host=conn_endpoint,user=username, password=password,port=port)

cursor = cnx.cursor()

In [ ]:
cnx.close()

In [23]:
import pymysql
from configparser import ConfigParser

db_conf = ConfigParser()
db_conf.read('db_config.ini')

conn_endpoint = db_conf['Db_config']['conn_endpoint']
username = db_conf['Db_config']['Username']
password = db_conf['Db_config']['Password']
port=db_conf['Db_config']['Port']
database = db_conf['Db_config']['Database']

cnx = pymysql.connect(host=conn_endpoint,user=username, password=password,port=int(port),database=database)

cursor = cnx.cursor()

In [24]:
from dbutils import Dbutils

table_name=db_conf['Db_config']['table_name']

db_obj = Dbutils()
try:
    db_obj.db_connect()
    print("Connection was successful")
except Exception as e:
    print(e)

db_obj.cursor.execute('show tables;')
output=db_obj.cursor.fetchall()
create_tbl=True
for i in range(len(list(output))):
    if list(output)[i][0]==table_name:
        create_tbl = False

if create_tbl == True : 
    print("{} table was created.".format(table_name))
    db_obj.create_table(table_name)

Connection was successful

In [10]:
import time

print('hello')
time.sleep(2)
print("hel")

hello
hel

In [9]:
print(int(gc_obj.current_global_counter_val)+int(gc_obj.records_in_a_batch),len(car_data))

15 15411

In [11]:
while (int(gc_obj.current_global_counter_val)+int(gc_obj.records_in_a_batch)<=len(car_data)):
    print("Current value of Global Counter is {}".format(gc_obj.current_global_counter_val))
    batch_of_data = gc_obj.fetch_records(car_data)
    print("Incrementing Global counter value by {}".format(gc_obj.records_in_a_batch))
    gc_obj.set_global_counter_val()
    print("Commiting config data changes.")
    gc_obj.write_config_data()

    db_obj.insert_records(batch_of_data,)
    print("records from index {} to {} were inserted into table.".format(int(gc_obj.current_global_counter_val)-int(gc_obj.records_in_a_batch),int(gc_obj.current_global_counter_val)))
    time.sleep(5)

gc_obj.reset_global_counter_val()

Current value of Global Counter is 3795
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3795 to 3800 were inserted into table.
Current value of Global Counter is 3800
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3800 to 3805 were inserted into table.
Current value of Global Counter is 3805
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3805 to 3810 were inserted into table.
Current value of Global Counter is 3810
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3810 to 3815 were inserted into table.
Current value of Global Counter is 3815
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3815 to 3820 were inserted into table.
Current value of Global Counter is 3820
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3820 to 3825 were inserted into table.
Current value of Global Counter is 3825
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3825 to 3830 were inserted into table.
Current value of Global Counter is 3830
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3830 to 3835 were inserted into table.
Current value of Global Counter is 3835
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3835 to 3840 were inserted into table.
Current value of Global Counter is 3840
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3840 to 3845 were inserted into table.
Current value of Global Counter is 3845
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3845 to 3850 were inserted into table.
Current value of Global Counter is 3850
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3850 to 3855 were inserted into table.
Current value of Global Counter is 3855
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3855 to 3860 were inserted into table.
Current value of Global Counter is 3860
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3860 to 3865 were inserted into table.
Current value of Global Counter is 3865
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3865 to 3870 were inserted into table.
Current value of Global Counter is 3870
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3870 to 3875 were inserted into table.
Current value of Global Counter is 3875
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3875 to 3880 were inserted into table.
Current value of Global Counter is 3880
Incrementing Global counter value by 5
Commiting config data changes.
records from index 3880 to 3885 were inserted into table.

KeyboardInterrupt:

In [13]:
cursor.execute('show tables;')
output=cursor.fetchall()
#cursor.close()

In [14]:
print(output)

(('cardekho_sales_dtl',), ('sample_tbl',))

In [15]:
for i in range(len(list(output))):
    print(list(output)[i][0])

cardekho_sales_dtl
sample_tbl

In [8]:
print(list(output)[0][0])

cardekho_sales_dtl

In [1]:
from dbutils import Dbutils

db = Dbutils()
db.db_connect()
#db.create_table('cardekho_sales_dtl')

In [2]:
db.cnx.close()